/* 共通設定 */
* {
	margin: 0px;
	padding: 0px;
}
html,body {
	height: 100%;
	width: 100%;
}
ul li {
	list-style: none;
}
a {
	text-decoration: none;
}
/* フォント */
body {
	font-family: "Cabin", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

/* スタイル */
.container {
	height: auto;
	background-color: rgb(250, 215, 180);
}

/* 画像の共通設定 */
.img-size {
	position: absolute;
}
.img-size img {
	height: auto;
}
/* 画像位置指定 */
/* img-1:ロゴ */
.img-1 {
	top: 6%;
	left: 6%;
}
.img-1 img {
	width: 180px;
}
@media screen and (min-width: 768px) {
	.img-1 img {
		width: 250px;
	}
}
/* img-2:犬 */
.img-2 {
	bottom: 50px;
	left: -10px;
}
@media screen and (min-width: 768px) {
	.img-2 {
		bottom: 80px;
	}
}
.img-2 img {
	width: 200px;
}
@media screen and (min-width: 768px) {
	.img-2 img {
		width: 280px;
	}
}
/* img-3:桃花 */
.img-3 {
	bottom: 0px;
	right: 40px;
}
.img-3 img {
	width: 100px;
}
@media screen and (min-width: 768px) {
	.img-3 img {
		width: 150px;
	}
}
/* img-4:白花 */
.img-4 {
	bottom: 0px;
	right: 0px;
}
.img-4 img {
	width: 75px;
}
@media screen and (min-width: 768px) {
	.img-4 img {
		width: 100px;
	}
}
/* img-5:青花 */
.img-5 {
	bottom: 0px;
	left: 0px;
}
.img-5 img {
	width: 110px;
}
@media screen and (min-width: 768px) {
	.img-5 img {
		width: 160px;
	}
}
/* img-6:ライトA */
.img-6 {
	right: 1%;
}
.img-6 img {
	width: 50px;
}
@media screen and (min-width: 768px) {
	.img-6 img {
		width: 80px;
	}
}
/* img-7:ライトB */
.img-7 {
	top: 25%;
	right: 0px;
}
.img-7 img {
	width: 120px;
}
@media screen and (min-width: 768px) {
	.img-7 img {
		width: 170px;
	}
}

/* リンク */
.obj-link p {
	color: rgb(2, 177, 86);
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	width: 200px;
}
@media screen and (min-width: 768px) {
	.obj-link p {
		font-size: 20px;
		letter-spacing: 3px;
		width: 250px;
		}
}
.link-item {
	position: absolute;
	box-shadow: 0px 4px 0px 6px rgb(2, 177, 86);
	background-color: white;
	border-radius: 15px;
	padding: 5px 10px;
}
.link-1 {
	top: 38%;
	right: 8%;
}
@media screen and (min-width: 768px) {
	.link-1 {
		right: 25%;
	}
}
@media screen and (min-width: 1280px) {
	.link-1 {
		right: 32%;
	}
}
.link-2 {
	top: 47%;
	left: 12%;
}
@media screen and (min-width: 768px) {
	.link-2 {
		left: 29%;
	}
}
@media screen and (min-width: 1280px) {
	.link-2 {
		left: 36%;
	}
}
.link-3 {
	top: 56%;
	right: 12%;
}
@media screen and (min-width: 768px) {
	.link-3 {
		right: 29%;
	}
}
@media screen and (min-width: 1280px) {
	.link-3 {
		right: 36%;
	}
}
.link-4 {
	top: 65%;
	left: 8%;
}
@media screen and (min-width: 768px) {
	.link-4 {
		left: 25%;
	}
}
@media screen and (min-width: 1280px) {
	.link-4 {
		left: 32%;
	}
}
.obj-2 {
	height: 100vh;
	background-color: yellowgreen;
}
.obj-3 {
	height: 65vh;
	padding: 5vh 15px 0 15px;
}
@media screen and (min-width: 768px) {
	.obj-3 {
		height: 65vh;
		padding: 15vh 15px 0 15px;
	}
}
@media screen and (min-width: 1280px) {
	.obj-3 {
		height: 70vh;
		padding: 10vh 15px 0 15px;
	}
}

/* footer */
footer {
	height: 20vh;
	position: relative;
}
.footer-img {
	position: absolute;
}
.footer-img img {
	height: auto;
}
.copyright {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	color: darkcyan;
}