/* 共通設定 */
* {
	margin: 0px;
	padding: 0px;
}
html,body {
	height: 100%;
	width: 100%;
}
ul li {
	list-style: none;
}
a {
	text-decoration: none;
}
/* フォント */
body {
	font-family: "Cabin", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

/* スタイル */
.container {
	height: auto;
	background-color: rgb(250, 215, 180);
}

/* 画像の共通設定 */
.img-size {
	position: absolute;
}
.img-size img {
	height: auto;
}
/* 画像位置指定 */
/* img-1:ロゴ */
.img-1 {
	top: 6%;
	left: 6%;
}
.img-1 img {
	width: 180px;
}
@media screen and (min-width: 768px) {
	.img-1 img {
		width: 250px;
	}
}
/* img-2:犬 */
.img-2 {
	bottom: 50px;
	left: -10px;
}
@media screen and (min-width: 768px) {
	.img-2 {
		bottom: 80px;
	}
}
.img-2 img {
	width: 200px;
}
@media screen and (min-width: 768px) {
	.img-2 img {
		width: 280px;
	}
}
/* img-3:桃花 */
.img-3 {
	bottom: 0px;
	right: 40px;
}
.img-3 img {
	width: 100px;
}
@media screen and (min-width: 768px) {
	.img-3 img {
		width: 150px;
	}
}
/* img-4:白花 */
.img-4 {
	bottom: 0px;
	right: 0px;
}
.img-4 img {
	width: 75px;
}
@media screen and (min-width: 768px) {
	.img-4 img {
		width: 100px;
	}
}
/* img-5:青花 */
.img-5 {
	bottom: 0px;
	left: 0px;
}
.img-5 img {
	width: 110px;
}
@media screen and (min-width: 768px) {
	.img-5 img {
		width: 160px;
	}
}
/* img-6:ライトA */
.img-6 {
	right: 1%;
}
.img-6 img {
	width: 50px;
}
@media screen and (min-width: 768px) {
	.img-6 img {
		width: 80px;
	}
}
/* img-7:ライトB */
.img-7 {
	top: 25%;
	right: 0px;
}
.img-7 img {
	width: 120px;
}
@media screen and (min-width: 768px) {
	.img-7 img {
		width: 170px;
	}
}
/* img-8:犬 */
.img-8 {
	top: 75%;
	right: 0px;
	opacity: 0;
}
@media screen and (min-width: 768px) {
	.img-8 {
		right: 40px;
	}
}
.img-8 img {
	width: 100px;
}
@media screen and (min-width: 768px) {
	.img-8 img {
		width: 130px;
	}
}

/* リンク */
.link-item {
	position: absolute;
	/* box-shadow: 0px 4px 0px 6px rgb(2, 177, 86);
	background-color: white;
	border-radius: 15px; */
	/* padding: 5px 10px; */
}
.link-item a {
	color: rgb(2, 177, 86);
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	width: 220px;
	/* ホバーアニメーション用↓ */
	position: relative;
	z-index: 1;
    /*ボタンの形状*/	
    display: inline-block;
	line-height: 35px;
}
@media screen and (min-width: 768px) {
	.link-item a {
		font-size: 20px;
		letter-spacing: 3px;
		width: 230px;
		padding:0 15px;
		}
}
.link-item a::before {
	content:'';
    /*絶対配置で丸の位置を決める*/
	position:absolute;
	left:0;
	bottom: 0;
	z-index: -1;
    /*丸の形状*/
	width:220px;
	height:35px;
	background-color: white;
	box-shadow: 0px 4px 0px 6px rgb(2, 177, 86);
	border-radius:25px;
    /*アニメーションの指定*/
    transition:.3s ease-out;
}
@media screen and (min-width: 768px) {
	.link-item a::before {
		width:260px;
	}
}
.link-anime-border:hover::before {
	bottom: 0;
	height: 0;
}
.link-anime-circle:hover::before {
	width: 110px;
	margin: 0 55px;
}
@media screen and (min-width: 768px) {
	.link-anime-circle:hover::before {
		width: 140px;
		margin: 0 60px;
	}
}

.link-1 {
	top: 38%;
	right: 8%;
}
@media screen and (min-width: 768px) {
	.link-1 {
		right: 25%;
	}
}
@media screen and (min-width: 1280px) {
	.link-1 {
		right: 32%;
	}
}
.link-2 {
	top: 47%;
	left: 12%;
}
@media screen and (min-width: 768px) {
	.link-2 {
		left: 29%;
	}
}
@media screen and (min-width: 1280px) {
	.link-2 {
		left: 36%;
	}
}
.link-3 {
	top: 56%;
	right: 12%;
}
@media screen and (min-width: 768px) {
	.link-3 {
		right: 29%;
	}
}
@media screen and (min-width: 1280px) {
	.link-3 {
		right: 36%;
	}
}
.link-4 {
	top: 65%;
	left: 8%;
}
@media screen and (min-width: 768px) {
	.link-4 {
		left: 25%;
	}
}
@media screen and (min-width: 1280px) {
	.link-4 {
		left: 32%;
	}
}
.obj-2 {
	height: 100vh;
	background-color: yellowgreen;
}
.obj-3 {
	height: 70vh;
	padding: 10vh 15px 0 15px;
}
@media screen and (min-width: 768px) {
	.obj-3 {
		height: 65vh;
		padding: 15vh 15px 0 15px;
	}
}
@media screen and (min-width: 1280px) {
	.obj-3 {
		height: 70vh;
		padding: 10vh 15px 0 15px;
	}
}

/* フェードイン */
.fadeIn {
	animation-name: fadeInAnime;/*定義名*/
	animation-fill-mode: forwards;/*2で開始と終了時の状態*/
	animation-duration: 3s;/*1回分の時間の長さ*/
	animation-iteration-count: 1;/*ループ*/
	animation-timing-function: ease;/*進行具合*/
	animation-delay: 0s;/*遅延開始*/
	animation-direction:normal;/*再生方向*/
}
@keyframes fadeInAnime {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* ジャンプアニメーション */
.jump-animation {
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 1.5s;
}

.keyframe-jump {
	animation-name: jump;
	animation-duration: .8s;
}
@keyframes jump {
	0%   { transform:translate(0%, 60px) rotateX(50deg); }
	100% { transform:translate(0%, 0%); }
}

/* 足跡アニメーション */
#stepsTrigger-1 {
	left: 10%;
}
@media screen and (min-width: 768px) {
	#stepsTrigger-1 {
		left: 5%;
	}
}
#stepsTrigger-2 {
	left: 45%;
	transform: rotateX(180deg);
}
@media screen and (min-width: 768px) {
	#stepsTrigger-2 {
		left: 25%;
	}
}
@media screen and (min-width: 1280px) {
	#stepsTrigger-2 {
		left: 20%;
	}
}
#stepsTrigger-3 {
	left: 30%;
}
@media screen and (min-width: 768px) {
	#stepsTrigger-3 {
		left: 45%;
	}
}
@media screen and (min-width: 1280px) {
	#stepsTrigger-3 {
		left: 35%;
	}
}
#stepsTrigger-4 {
	left: 40%;
	transform: rotateX(180deg);
}
@media screen and (min-width: 768px) {
	#stepsTrigger-4 {
		left: 65%;
	}
}
@media screen and (min-width: 1280px) {
	#stepsTrigger-4 {
		left: 50%;
	}
}
#stepsTrigger-5 {
	left: 50%;
}
@media screen and (min-width: 768px) {
	#stepsTrigger-5 {
		left: 25%;
	}
}
@media screen and (min-width: 1280px) {
	#stepsTrigger-5 {
		left: 65%;
	}
}
@media screen and (max-width: 767px) {
	#stepsTrigger-3, #stepsTrigger-4, #stepsTrigger-5 {
		display: none;
	}
}
@media screen and (max-width: 1279px) {
	#stepsTrigger-5 {
		display: none;
	}
}

.steps{
	width: 100px;/*1フレーム分の横幅*/
	height: 100px;/*1フレーム分の縦幅*/
	background: url("../images/steps/steps.png") no-repeat;/*背景画像の読み込み*/
	animation: stepsline 1s steps(3) forwards;
	  /*stepsline→アニメーション名
	  5s→アニメーションをする時間
	  step→（）の中には、アニメーション制作コマ数-1の値を入れる（例：4コマ-1コマ=3コマ）
	  forwards→最後の形を維持*/
	position: absolute;
	top: 85%;
}
@keyframes stepsline {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -300px 0;/*アニメーション制作コマ数から1コマ分引いた横幅を指定。
		（例：今回は1フレーム横幅100pxで制作しているので全体の400px-100px=300px⇒-300px）を指定。*/
	}
}

/* footer */
footer {
	height: 20vh;
	position: relative;
}
.footer-img {
	position: absolute;
}
.footer-img img {
	height: auto;
}
.copyright {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	color: darkcyan;
}

/* Loading背景画面設定 */
#splash {
	/* fixedで全面に固定 */
	  position: fixed;
	  z-index: 999;
	  width: 100%;
	  height: 100%;
	  background: yellowgreen;
	  text-align: center;
  }
  /* Loadingバー中央配置 */
  #splash_text {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  z-index: 999;
	  width: 100%;
	  transform: translate(-50%, -50%);
	  color: #fff;
	  font-weight: bold;
  }